:host {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.switch {
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    box-shadow: 0 5px 15px rgba(0,0,0, .5);
    cursor: pointer;

    &__button {
        background: transparent;
        border: none;
        color: var(--secondary-color);
        font-size: 18px;
        font-weight: 300;
        font-family: 'Roboto Slab';
        color: var(--disabled-color);
        transition: all .2s ease-in;
        outline: none;
        pointer-events: none;

        &--active {
            color: var(--secondary-color);
            font-weight: 700;
        }
    }

    fa-icon {
        font-size: 20px;
        color: var(--secondary-color);
    }
}
