@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {

    // COLORS
    --main-color: #000000;
    --secondary-color: #ffffff;
    --success-color: #61A945;
    --disabled-color: #757575;

    --primary-text-color: #2A2A2A;
    --secondary-text-color: #757575;

    --light-gray: #eeeeee;

    // GEOMETRY
    --grid-margin: 26px;

    body {
        font-family: 'Roboto Slab', serif;
    }

}
