@import 'reset';

:root {

    // COLORS
    --main-color: #000000;
    --secondary-color: #ffffff;

    --primary-text-color: #2A2A2A;
    --secondary-text-color: #757575;

    --light-gray: #fcfcfc;

    // GEOMETRY
    --grid-margin: 26px;

    // TYPOGRAPHY
    font-size: 6.25%;

    body {
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;900&display=swap');
        font-family: 'Roboto Slab', serif;
    }

}
